<!DOCTYPE html>

<html>
<head>
    <title>New Diary</title>
</head>
<body>
    <div>
        <h3>Текставая запись</h3>
		<form method="post">
			<input type="hidden" value="@ViewBag.ID" name="ID" />
			<table>
				<tr>
					<td>Название:</td>
					<td><input type="text" value="@ViewBag.Name" name="Name" /> </td>
				</tr>
				<tr>
					<td>Описание:</td>
					<td><input type="text" value="@ViewBag.Description" name="Description" /></td>
				</tr>
				<tr>
					<td>Заметка:</td>
					<td><input type="text" value=@ViewBag.Text name="Text" /></td>
				</tr>
				<tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
			</table>
		</form>
    </div>
</body>
</html>
