@page
@model WebApplication1.Views.Account.ProfileModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ToDoBook</title>
    <link rel="stylesheet" href="css/style-prof.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-logo">ToDoBook</div>
        <div class="container-logo">
            <img src="image/book.svg" alt="">
        </div>
        <nav class="nav">
            <a class="nav_link" href="Main-2.html">Главная</a>
            <a class="nav_link" href="Profile.html">Профиль</a>
            <a class="nav_link" href="Diary.html">Дневники</a>
            <a class="nav_link" href="Main-2.html">О нас</a>
            <a class="nav_link" href="News.html">Новости</a>
        </nav>
    </header>

    <div class="mainstr">
        <div class="user">
            <div class="avatar">
                <img src="image/camera.svg" width="100px" height="100px">
            </div>
            <div class="user-content">
                <form>
                    <div class="user-name"><input type="text" name="" placeholder="Имя"></div>
                    <div class="user-surname"><input type="text" name="" placeholder="Фамилия"></div>
                    <div class="user-telephone"><input type="text" name="" placeholder="Номер"></div>
                    <div class="user-age"><input type="text" name="" placeholder="Возраст"></div>
                    <div class="user-sub"><input type="submit" name="" placeholder="Отправить"></div>
                </form>
            </div>
        </div>
        <div class="footer"><div class="copy">Все права защищены &copy; 2021 ToDoBook</div></div>
    </div>

</body>

</html>