@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ToDoBook</title>
	<link rel="stylesheet" href="~/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<header class="header">
		<a class="Logo" href="Main.html">
			<div class="header-logo">ToDoBook</div>
			<div class="container-logo">
				<img src="~/image/book.svg" alt="">
			</div>
		</a>
		<nav class="nav">
			<a class="nav_link" href="">Главная</a>
			<a class="nav_link" href="~/User">Профиль</a>
			<a class="nav_link" href="~/User/RequestDiary">Дневники</a>
			<a class="nav_link" href="">О нас</a>
			<a class="nav_link" href="~/User/News">Новости</a>
		</nav>
	</header>

	<div class="mainstr">
		<div class="container">
			<img src="~/image/1dd778c4ed41e5df1ec53d96b873ab89.jpg" alt="" class="picture">
		</div>
		<div class="Offer">
			<h2 class="text2">Твой личный онлайн-дневник</h2>
			<div class="Zagolovok_text">Онлайн-дневник, который поможет тебе спланировать твой день, организовать твои дела в течение дня и напомнить о важных делах, запланированных на сегодняшний день в несколько кликов. Пробуй!</div>
			<a class="Button" href="Diary.html">
				Создать дневник
			</a>
		</div>
		<div class="Line"></div>
		<div class="AboutUs">
			<div><h2 class="about">Что такое ToDoBook?</h2></div>
			<p class="text">Мы придумали каким образом можно легко и комнапктно организовать и привести в порядок каждый день своей жизни, а так же, убедиться, что важные задачи точно не останутся напотом. ToDoBook - это ваш личный витруальный ежедневник, который будет постоянно сопровождать вас в повседневной жизни. Вам не придется переживать за то, что вы можете где-то потерять свой ежедневник, если он будет доступен с ваших устройств. Вы можете попрощаться со старнадртными ежедневниками, в которых всё-равно не хватает места для всех ваших дел.</p>
		</div>
		<div class="footer"><div class="copy">Все права защищены &copy; 2021 ToDoBook</div></div>
	</div>

</body>

</html>