@{
	Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Users</title>

</head>
<body>
				<form method="post">
					<input type="hidden" value="@ViewBag.Profile.ID" name="ID" />
				</form>
			</div>
		</div>
		<div class="footer"><div class="copy">Все права защищены &copy; 2021 ToDoBook</div></div>
	</div>

</body>

</html>
