@page
@model WebApplication1.Views.Home.NewsModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ToDoBook</title>
    <link rel="stylesheet" href="css/style-news.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-logo">ToDoBook</div>
        <div class="container-logo">
            <img src="image/book.svg" alt="">
        </div>
        <nav class="nav">
            <a class="nav_link" href="Main-2.html">Главная</a>
            <a class="nav_link" href="Profile.html">Профиль</a>
            <a class="nav_link" href="Diary.html">Дневники</a>
            <a class="nav_link" href="Main-2.html">О нас</a>
            <a class="nav_link" href="News.html">Новости</a>
        </nav>
    </header>

    <div class="mainstr">
        <article class="article1">
            <a href="">
                <div class="article-header">
                    <img src="image/russia.svg">
                </div>
            </a>
            <div class="article-content">
                <h1 class="zagolovok">Вкусная самбуса</h1>
                <p>100 рублей</p>
            </div>
        </article>
        <article class="article2">
            <a href="">
                <div class="article-header">
                    <img src="image/russia.svg">
                </div>
            </a>
            <div class="article-content">
                <h1 class="zagolovok">Вкусная самбуса</h1>
                <p>100 рублей</p>
            </div>
        </article>
        <div class="footer"><div class="copy">Все права защищены &copy; 2021 ToDoBook</div></div>
    </div>

</body>

</html>